<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48547659903-u0dcs6tioprnj5616u2lc700a1s7f5cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48547659903-u0dcs6tioprnj5616u2lc700a1s7f5cv</string>
	<key>API_KEY</key>
	<string>AIzaSyD2pCKP4b65S0TzD-bEUBlignmt9YKOwmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>48547659903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlogApp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-59a41</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-59a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48547659903:ios:5d4f948ceb70490395bf4a</string>
</dict>
</plist>